<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Busqueda Angular</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

    <script>

    </script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

  <div class="container" style="color:white;background-color:#28292d">
    <h1>Listado</h1>
    <div class="row" style="width:100%;">

      <ul>
        <li id="{{items}}" style="margin-right: 2%;" ng-repeat="items in lista" ng-Click="pepe($event)">{{items}}</li>
        <li><button style="background-color:#5bc500"type="button"  ng-Click="todos()" name="button">Ver todos</button></li>
      </ul>
    </div>
    <div class="row" style="width:100%;">

      <select ng-model="selectedItem"
            ng-options="item as item for item in lista" id="{{items}}" style="color:white;background-color:#28292d" ></select>

            <select ng-options="item.title for item in fieldTable" ng-model="selected" ng-change="hasChanged()"style="color:white;background-color:#28292d">
  </select>
  <select name="xxx" id="" ng-model="selected"
    ng-options="item as item for item in lista"
    ng-change="clickOptionFun(selected)" style="color:white;background-color:#28292d">
 </select>
    </div>

    <div class="row"style="width:100%;" >
      <div ng-repeat="items in arealist" class="col-xs-6 col-sm-3"style="background-image: url('{{items.imageURL}}');height: 427px; padding:10px;">
          hola
        </div>

    </div>

<script src="js/index.js"></script>
</body>
</html>
